/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(172, 172, 170));
    color: #333;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
    color: white;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li form button{
    display: inline-block;
    border: 1px solid red;
    background: black;
}

.content {
    margin: 20px;
}


footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: white;
}

.form_cta{
    width: 450px;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    background: radial-gradient(rgb(252, 248, 248), rgb(255, 255, 255));
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

.form_cta form p a{
    color: black;
    font-weight: 500; 
}

.form_cta form p{
    color: black;
}

