{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search books</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">search</button>
    </form>

    <h1>Searched books: </h1>
    {% for search_book in search_books %}
        <p>{{search_book}}</p>
    {% endfor %}
    <img src="{% static 'bookshelf/test.jpg' %}" width=150px  alt="None" />
    <img src="https://html.sammy-codes.com/images/small-profile.jpeg" alt="None"/>
</body>
</html>