{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Django Blog - Home{% endblock %}
{% load static %}


{% block header%}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand active" href="{% url 'home' %}"> Blogr</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_posts' %}">Blog Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
        </ul>
        <span class="navbar-text">
          <a href="{% url 'login' %}" class="nav-link me-4">Login</a>
        </span>
        <span class="navbar-text">
            <a href="{% url 'register' %}" class="nav-link me-5">Sign Up</a>
        </span>
      </div>
    </div>
  </nav>
{% endblock %}
{% block hero%}
<div class="cta-3">
  <div class="hero">
    <div>
      <img src="{% static 'blog__-removebg-preview.png' %}" width="500px"/>
      <h3>Exploring the wonders of blogging</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
          standard dummy text ever since the 1500s when an unknown</p>
        <a href="#" class="mt-1 mb-1 ms-1 text-primary-light">See more</a>
    </div>
      <div class="cta-author"> 
        <p class="text-end lead"><img src="https://th.bing.com/th/id/OIP.GQ9NW4tSeLJ4tr5vJhJObQHaHa?w=1001&h=1001&rs=1&pid=ImgDetMain" class="rounded-circle" width="35px" height="35px" alt="No image"/> Theodore Reginald</p>
        <p class="text-end lead">Published: 21 Jan 2024</p>
      </div>
  </div>
  
  </div>
{% endblock %}

{% block content %}
  <h2>Blog</h2>
  <p>It is a long established fact that a page when looking at its layout</p>
    {% for blog in all_posts %}
    <hr/>
    <h2>{{ blog.title }}</h2>
    <span>{{ blog.published_date }} by {{blog.author}} </span>
    <p> {{blog.content}}</p>
    <a href="{% url 'detail_post' blog.id %}" class="mt-1 mb-1 ms-1">See more</a>
    {% if user.is_authenticated and request.user == blog.author%}
    <a href="{% url 'update_post' blog.id %}" class="btn btn-dark mt-1 mb-1 ms-1">Update</a>
    <a href="{% url 'delete_post' blog.id %}" class="btn btn-danger mt-1 mb-1 ms-1">Delete</a>
    <hr/>
    {% endif %}
    {% empty %}
    <p>No Blogs yet.</p>
{% endfor %}
{% endblock %}

