{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Django Blog - Blog Posts{% endblock %}
{% load static %}


{% block header%}
<header>
   <nav>
       <ul>
           <li><a href="{% url 'home' %}">Home</a></li>
           <li><a href="{% url 'all_posts'%}">Blog Posts</a></li>
           <li><a href="{% url 'logout' %}">Logout</a></li>
       </ul>
   </nav>
</header>
{% endblock %}

{% block content %}
    <div class="cat">
        <h2>{{ post.title }}</h2>
        <span>{{ post.published_date }} by {{post.author}} </span>
        <p > {{post.content}}</p>
        <hr/>

        <h2>comments: </h2>
        {% for comment in comment_data %}
        <p>{{comment.content}}</p>
        {% if user.is_authenticated and request.user == comment.post.author %}
        <a href="{% url 'comment_edit' comment.id %}" class="btn btn-dark">Edit comment</a>
        <a href="{% url 'comment_delete' comment.id %}" class="btn btn-danger">Delete comment</a>
        {% endif %}
        {% endfor %}

        <!-- Add a comment -->
         <h2>Add a Comment</h2>
        <form method="post" action="{% url 'create_comment' post.id %}">
            {% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit" class="btn btn-dark">Add comment</button>
        </form>
    </div>
{% endblock %}

