{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Django Blog - Blog Posts{% endblock %}
{% load static %}


{% block header%}
<header>
   <nav>
       <ul>
           <li><a href="{% url 'home' %}">Home</a></li>
           <li><a href="{% url 'all_posts'%}">Blog Posts</a></li>
           <li><a href="{% url 'logout' %}">Logout</a></li>
       </ul>
   </nav>
</header>
{% endblock %}

{% block content %}
    <h1>All Blog Posts</h1>
        {% for blog in all_posts %}
        <hr/>
        <h2>{{ blog.title }}</h2>
        <span>{{ blog.published_date }} by {{blog.author}} </span>
        <p> {{blog.content}}</p>
        <a href="{% url 'detail_post' blog.id %}">See more</a>
        <a href="{% url 'update_post' blog.id %}" class="btn btn-dark mt-1 mb-1 ms-1">Update</a>
        <a href="{% url 'delete_post' blog.id %}" class="btn btn-danger mt-1 mb-1 ms-1">Delete</a>
        <hr/>
        {% empty %}
        <p>No Blogs yet.</p>
    {% endfor %}
{% endblock %}

