{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Django Blog - Blog Posts{% endblock %}
{% load static %}


{% block header%}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand active" href="{% url 'home' %}"> Blogr</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_posts' %}">Blog Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
        </ul>
        <span class="navbar-text">
            <a href="{% url 'logout' %}" class="nav-link me-5">Logout</a>
        </span>
      </div>
    </div>
  </nav>
{% endblock %}

{% block hero%}
<h1 class="text-center pt-5">BLOG POST DETAIL</h1>
{% endblock%}

{% block content %}
    <div class="cat">
        <h2>{{ post.title }}</h2>
        <span>{{ post.published_date }} by {{post.author}} </span>
        <p > {{post.content}}</p>
        <hr/>

        <h2>comments: </h2>
        {% for comment in comment_data %}
        <p>{{comment.content}}</p>

        {% if user.is_authenticated and request.user == comment.post.author %}
        <a href="{% url 'comment_edit' comment.id %}" class="btn btn-dark">Edit comment</a>
        <a href="{% url 'comment_delete' comment.id %}" class="btn btn-danger">Delete comment</a>
        {% endif %}
        {% endfor %}

        <!-- Add a comment -->
         <h2>Add a Comment</h2>
        <form method="post" action="{% url 'create_comment' post.id %}">
            {% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit" class="btn btn-dark">Add comment</button>
        </form>
    </div>
{% endblock %}

