{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Django Blog - Profile{% endblock %}
{% load static %}


{% block header%}
<header>
   <nav>
       <ul>
           <li><a href="{% url 'home' %}">Home</a></li>
           <li><a>Blog Posts</a></li>
           <li><a href="{% url 'logout' %}">Logout</a></li>
       </ul>
   </nav>
</header>
{% endblock %}

{% block content %}
    {% if user.is_authenticated%}
 
    <div class="form_cta2">
        <div class="edit_main">
            <div class="profile_img">
                <img  src="{{ user.profile.profile_img.url }}"/>
            </div>
            <div class="profile_detail">
                <h1 class="text-start h3 pb-1 pt-1">Profile Detail</h1>
                <p><b>Username</b>: {{user_profile.user.username}}</p>
                <p><b>Email</b>: {{user_profile.user.email}}</p>
                <p><b>Bio</b>: {{user_profile.bio |truncatewords:"50"}}</p>
                <p><b>Age</b>: {{user_profile.age}} years</p>
                <p><b>Date of Birth</b>: {{user_profile.date_of_birth}}</p>
                <a class="edit_profile" href="{% url 'edit_profile' user %}">Edit Profile</a>
            </div> 
        </div>  
    </div>
    {% endif %}
{% endblock %}

